<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="STRIPE_PUBLIC_KEY" value="Test"/>
        <env name="STRIPE_SECRET" value="sk_test_51LGGlRIQW336zmd9fG58rF9fz1OF1KGJsnFxE5Q9jmhlyIcLXedLcm8gIC6NKlIvLJB4BWvcYwkAnHuP5iV1BW8t00Eo6oHwJm"/>
    </php>
</phpunit>
